
@{
    ViewBag.Title = "Index";
    
}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="margin-top:8px">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/img/dogcat.jpg" class="d-block w-100" width="700" height="500" >
            </div>
            <div class="carousel-item">
                <img src="~/Content/img/mascotas.jpg" class="d-block w-100" width="700" height="500">
            </div>
            <div class="carousel-item">
                <img src="~/Content/img/varios.jpg" class="d-block w-100" width="700" height="500">
            </div>
        </div>
    </div>



