@{
    ViewBag.Title = "Home";
}

<<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title border-bottom">Contacto</h5>
                <p class="card-text"><icon class="fab fa-whatsapp-square"></icon> Telefono: (664) 1-23-45-67 <br />
                <icon class="fas fa-at "></icon> VeterinariaTEC@gmail.com
                </p>           
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title border-bottom">Acerca de nosotros</h5>
                <p class="card-text">Somos una empresa 100% mexicana con mas de 6 años de experiencia en el cuidado de sus queridas mascotas.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title border-bottom">VeterinariaTEC</h5>
                <p class="card-text">Cuidando de sus compañeros del dia a dia.</p>
                
            </div>
        </div>
    </div>
</div>